<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LicoreriaBB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistritoDeliveryServlet</display-name>
    <servlet-name>DistritoDeliveryServlet</servlet-name>
    <servlet-class>servlets.DistritoDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistritoDeliveryServlet</servlet-name>
    <url-pattern>/DistritoDeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProductoServlet</display-name>
    <servlet-name>ProductoServlet</servlet-name>
    <servlet-class>servlets.ProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoServlet</servlet-name>
    <url-pattern>/ProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogoServlet</display-name>
    <servlet-name>CatalogoServlet</servlet-name>
    <servlet-class>servlets.CatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogoServlet</servlet-name>
    <url-pattern>/CatalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteUsuarioServlet</display-name>
    <servlet-name>ReporteUsuarioServlet</servlet-name>
    <servlet-class>servlets.ReporteUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteUsuarioServlet</servlet-name>
    <url-pattern>/ReporteUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductosServlet</display-name>
    <servlet-name>ProductosServlet</servlet-name>
    <servlet-class>servlets.ProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductosServlet</servlet-name>
    <url-pattern>/ProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalleProductoServlet</display-name>
    <servlet-name>DetalleProductoServlet</servlet-name>
    <servlet-class>servlets.DetalleProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleProductoServlet</servlet-name>
    <url-pattern>/DetalleProductoServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>VentaServlet</display-name>
    <servlet-name>VentaServlet</servlet-name>
    <servlet-class>servlets.VentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VentaServlet</servlet-name>
    <url-pattern>/VentaServlet</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>servlets.ListenerSesiones</listener-class>
  </listener>

</web-app>